{{!
    This file is part of The local course index

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_courseindex/filters

    Shows displayes rendering of a a course category level

    Classes required for JS:
    * none

}}
<!-- local_courseindex/magisterefilters -->

{{#hasfilters}}

{{#filters}}
{{#isnotwwwroot}}
<div class="filter-label">
    <h3>{{{fname}}} <div class="ftoggle-handle" data-toggle="filter-input-{{fcode}}">{{#pix}}t/expanded{{/pix}}</div></h3>
</div>
<div class="filter-input" id="filter-input-{{fcode}}">
    {{#options}}
        <div class="filter-option">
        <input type="checkbox" name="{{fcode}}[]" class="courseindex-filter-value" value="{{id}}" {{{checked}}} aria-labelledby="chck-{{fcode}}"><label id="chck-{{fcode}}">{{value}}</label> ({{counter}})
        </div>
    {{/options}}
</div>
{{/isnotwwwroot}}
{{/filters}}

{{/hasfilters}}

<!-- /local_courseindex/magisterefilters -->