{{!
    This file is part of The Courseindex plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_courseindex/category

    Shows displayes rendering of a a course category level

    Classes required for JS:
    * none

}}
<!-- local_courseindex/magisterepanel -->
<div id="courseindex-container">

    <div id="courseindex-nav">
        <form id="courseindex-magistere-filter-form" name="indexfiltering" action="{{{browserurl}}}" method="get">
        <input type="hidden" name="catid" value="{{currentcatid}}"/>
        <input type="hidden" name="catpath" value="{{currentcatpath}}"/>

        <h3>{{{toptreename}}}</h3>
        <nav id="courseindex-nav-categories" class="courseindex-nav-menu" aria-label="{{#str}}courseindex, local_courseindex{{/str}}">
            {{#categorytree}}
            {{> local_courseindex/magisterecategories}}
            {{/categorytree}}
        </nav>

        <div id="courseindex-nav-filters" class="courseindex-nav-menu">
            {{{filters}}}
        </div>

        </form>
    </div>

    <div id="courseindex-courses">
        <!-- div id="courseindex-search">
            <i class="fa fa-search icon"></i>
            <input type="text" id="search-input" placeholder="{{#str}}quicktextsearch, local_courseindex{{/str}}">
        </div -->

        <div id="courseindex-courses-panel">
            {{#category}}
            <h2>{{{category}}}</h2>
            {{/category}}

            {{{staticguitext}}}

            <div class="category-data">
                <div class="cat-count">
                    {{entriescount}} {{#str}}entries, local_courseindex{{/str}}
                </div>
            </div>

            {{> local_courseindex/magisterecoursegrid}}
        </div>
    </div>

    <!-- dynamically loadable panel -->
    <div id="courseindex-course-detail" style="z-index:12000">
        <div class="modal-close">
            {{#pix}}close, local_courseindex{{/pix}}
        </div>
        <div id="courseindex-course-detail-actions">
        </div>
        <div id="courseindex-course-detail-content">
        </div>
    </div>

    <div id="courseindex-modal-shadow" style="z-index:10000">
    </div>
</div>

<!-- /local_courseindex/magisterepanel -->