{{!
    This file is part of The Courseindex plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_courseindex/category

    Shows displayes rendering of a a course category level

    Classes required for JS:
    * none

}}
<!-- local_courseindex/map -->
<div id="courseindex-map-container" class="d-flex flex-column">

    <div id="courseindex-row" class="row">

        <div id="courseindex-nav" class="col-3">
            <form id="courseindex-magistere-filter-form" name="indexfiltering" action="{{{mapurl}}}" method="get">

            <div id="courseindex-nav-filters" class="courseindex-nav-menu">
                {{{filters}}}
            </div>

            </form>
        </div>

        <div id="courseindex-map" class="col-9">
            {{{mapbody}}}
        </div>

        <!-- dynamically loadable panel -->
        <!-- div id="courseindex-course-detail" style="z-index:12000">
            <div class="modal-close">
                {{#pix}}close, local_courseindex{{/pix}}
            </div>
            <div id="courseindex-course-detail-actions">
            </div>
            <div id="courseindex-course-detail-content">
            </div>
        </div -->

        <!-- div id="courseindex-modal-shadow" style="z-index:10000">
        </div -->
    </div>
</div>

<!-- /local_courseindex/map -->