

<!-- local_courseindex/textsearchform -->
<a name="textsearch"></a>
<form name="textsearchform" action="#results" method="get">
<input type="hidden" name="lpstatus" value="" />

<fieldset>
    <table width="100%" class="generaltable">
        <tr valign="top">
            <td align="right" width="30%">
                <b>{{#str}}searchtext, local_courseindex{{/str}}</b>
            </td>
            <td align="left">
                <input type="text" name="searchtext" value="{{{searchtext}}}" />
            </td>
        </tr>
        <tr valign="top">
            <td align="right" width="30%">
                <b>{{#str}}searchin, local_courseindex{{/str}}</b>
            </td>

            <td align="left">
                <input type="checkbox" name="title" value="1" {{{titlechecked}}} /> {{#str}}title, local_courseindex{{/str}}<br/>
                <input type="checkbox" name="description" value="1" {{{descchecked}}} /> {{#str}}description, local_courseindex{{/str}}<br/>
                <input type="checkbox" name="information" value="1" {{{infochecked}}} /> {{#str}}information, local_courseindex{{/str}}<br/>
            </td>
        </tr>
        <tr valign="top">
            <td align="right" width="30%"></td>
            <td align="left">
                <input type="submit"
                       name="go_freesearch"
                       value="{{#str}}gofreesearch, local_courseindex{{/str}}"
                       id = "id-courseindex-text-submit" />
            </td>
        </tr>
    </table>
</fieldset>
</form>
<!-- /local_courseindex/textsearchform -->
